* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 6px;
    background-color: black;
}
body::-webkit-scrollbar-thumb{
    background: #FD0001;
}

.loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 3;
    .logo {
        display: flex;
        align-items: flex-end;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        height: 84px;
        background: linear-gradient(135deg, rgba(253,0,1,1) 10%, rgba(255,47,47,1) 90%);
        margin-right: 32px;
        border-radius: 10px;
        animation: pulse 2s infinite ease-in-out;
        h1 {
            padding: 6px 16px;
            font-size: 24px;
            color: white;
            font-weight: normal;
            text-align: center;
        }
    }
    @keyframes pulse {
        0% {
            opacity: 0.2;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0.2;
        }
    }
    @keyframes move {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
}

nav {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 70%;
    height: 64px;
    z-index: 1;
    .logo {
        display: flex;
        align-items: flex-end;
        text-decoration: none;
        height: 64px;
        background: linear-gradient(135deg, rgba(253,0,1,1) 10%, rgba(255,47,47,1) 90%);
        margin-right: 32px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        h1 {
            padding: 6px 16px;
            font-size: 18px;
            color: white;
            font-weight: normal;
            text-align: center;
        }
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        li {
            margin-right: 32px;
            a {
                font-size: 14px;
                color: white;
                text-decoration: none;
            }
            .nav-active {
                color: #FD0001;
            }
        }
    }
    .avatar {
        margin-left: auto;
        margin-right: 24px;
        align-self: center;
        height: 50px;
        width: 50px;
        overflow: hidden;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .ham {
        display: none;
    }
}

.ham-nav-menu {
    display: none;
}

.hero {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    .hero-img {
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .title,
    .des,
    .watch-btn {
        position: relative;
        left: 20%;
        top: 30%;
        bottom: 70%;
        z-index: 1;
        color: white;
    }
    a {
        text-decoration: none;
        color: white;
        .title {
            font-size: 48px;
        }
    }
    a:hover {
        text-decoration: underline;
    }
    .des {
        position: relative;
        margin-top: 10px;
        width: 500px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .watch-btn {
        display: flex;
        align-items: center;
        margin-top: 20px;
        background-color: #FD0001;
        background: linear-gradient(90deg, rgba(253,0,1,1) 5%, rgba(255,47,47,1) 95%);
        height: 42px;
        width: fit-content;
        border: none;
        padding: 0 14px;
        border-radius: 24px;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
        img {
            margin-left: 14px;
            width: 24px;
            height: 24px;
        }
    }
    .watch-btn:focus {
        outline: none;
    }
}
.hero-videos {
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: #FAF4F4;
    position: relative;
    .vid-card-container {
        width: 70%;
        position: absolute;
        top: -70px;
        .vid-cards {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .vid-card {
                position: relative;
                .thumbnail {
                    width: 290px;
                    height: 163px;
                    background-color: pink;
                    background-size: cover;
                    background-position: center;
                    border-radius: 14px;
                }
                a {
                    position: absolute;
                    bottom: 34px;
                    left: 20px;
                    border: none;
                    background: none;
                    img {
                        width: 24px;
                        height: 24px;
                    }
                    img:hover {
                        background-color: #FF2F2F;
                        border-radius: 50%;
                        transition: background-color .2s ease;
                    }
                }
                .title {
                    font-size: 18px;
                    position: absolute;
                    bottom: 10px;
                    left: 20px;
                    color: white;
                }
            }
        }
    }
}

.search-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    margin: auto;
    .search {
        position: absolute;
        bottom: 30px;
        margin: 14px;
        justify-self: center;
        align-self: center;
        position: relative;
        input {
            width: 300px;
            height: 32px;
            border: none;
            border-radius: 14px;
            padding: 14px;
            font-size: 16px;
            color: #FD0001;
            box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.30);
        }
        input:focus {
            outline: none;
        }
        input::placeholder {
            color: #FD0001;
        }
        button {
            position: absolute;
            right: 10px;
            top: 6px;
            background: none;
            border: none;
            img {
                width: 20px;
                height: 20px;
            }
        }
        button:focus {
            outline: none;
        }
    }
    .search-results {
        display: flex;
        flex-wrap: wrap;
        gap: 0 40px;
        margin: 0 10px;
    }
}

.carousel-container {
    width: 70%;
    margin: auto;
}

.rec-arrow {
    display: none;
}

.section-header {
    margin: 20px;
}

.card {
    height: 380px;
    width: 200px;
    position: relative;
    margin: auto;
    .img-container {
        height: 300px;
        width: 200px;
        background-size: cover;
        background-position: center;
        z-index: 1;
        border-radius: 10px;
        box-shadow: 0px 14px 14px -10px rgba(0,0,0,0.6);
        margin-bottom: 18px;
    }
    .rating {
        position: absolute;
        bottom: 90px;
        right: 14px;
        z-index: 2;
        background-color: #fff;
        border-radius: 16px;
        padding: 2px 10px;
        font-size: 12px;
        font-weight: bold;
    }
    a {
        text-decoration: none;
        .title {
            color: #222222;
            margin-bottom: 4px;
            font-size: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    a:hover {
        text-decoration: underline;
    }
    .genre {
        font-weight: bold;
        color: #9E9DAD;
        font-size: 14px;
        display: inline;
    }
}

//Movie Details
.md-hero {
    position: relative;
    &__img {
        width: 100%;
        height: 50vh;
        overflow: hidden;
        position: relative;
        .hero-img {
            z-index: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(60%);
        }
    }
    &__info {
        display: flex;
        width: 70vw;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: -200px;
        &__poster {
            width: 200px;
            height: 300px;
            border-radius: 10px;
            box-shadow: 0px 14px 14px -10px rgba(0,0,0,0.6);
        }
        &__overview {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            margin-left: 24px;
            margin-top: auto;
            height: 190px;
            &__title {
                font-size: 48px;
            }
            &__tagline {
                margin-bottom: 14px;
            }
            &__detail {
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
                p {
                    margin-top: 4px;
                    font-weight: bold;
                }
                p.year {
                    width: 4ch;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            &__rating {
                margin-top: 4px;
                display: flex;
                gap: 6px;
                p {
                    font-weight: bold;
                    span {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
.summary {
    width: 70%;
    margin: 240px auto auto auto;
    h3 {
        margin-bottom: 6px;
    }
}
.md-details {
    width: 70%;
    margin: 24px auto;
    display: flex;
    column-gap: 64px;
    h3 {
        margin-bottom: 14px;
    }
    .videos {
        .md-vid {
            display: flex;
            flex-wrap: wrap;
            gap: 14px;
            width: 420px;
            .vid-card {
                position: relative;
                .thumbnail {
                    width: 200px;
                    height: 113px;
                    background-color: pink;
                    background-size: cover;
                    background-position: center;
                    border-radius: 14px;
                }
                a {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border: none;
                    background: none;
                    transform: translate(-50%, -50%);
                    img {
                        visibility: hidden;
                        width: 50px;
                        height: 50px;
                    }
                    img:hover {
                        background-color: #FF2F2F;
                        border-radius: 50%;
                        transition: background-color .2s ease;
                    }
                }
            }
            .vid-card:hover {
                a {
                    img {
                        visibility: visible;
                    }
                }
            }
        }
    }
    .casts {
        .md-casts {
            display: flex;
            flex-wrap: wrap;
            gap: 14px 24px;
            .md-cast {
                display: flex;
                align-items: center;
                column-gap: 14px;
                width: 210px;
                &__img-container {
                    width: 80px;
                    min-width: 80px;
                    max-width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .on {
                    font-weight: bold;
                }
            }
        }
    }
}

footer {
    width: 70%;
    margin: 48px auto auto auto;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    align-items: center;
    .logo {
        display: flex;
        align-items: flex-end;
        text-decoration: none;
        width: fit-content;
        height: 64px;
        background: linear-gradient(45deg, rgba(253,0,1,1) 10%, rgba(255,47,47,1) 90%);
        margin-right: 32px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        h1 {
            padding: 6px 16px;
            font-size: 18px;
            color: white;
            font-weight: normal;
            text-align: center;
        }
    }
    .text {
        justify-self: center;
        display: flex;
        gap: 6px;
        text-align: center;
        color: #222222;
        a {
            color: #222222;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .social {
        justify-self: end;
        a {
            margin-inline: 4px;
            svg {
                width: 24px;
                height: 24px;
                fill: black;
            }
        }
    }
}

@media (max-width: 768px) {
    nav {
        width: 85%;
        justify-content: space-between;
        ul,
        .avatar {
            display: none;
        }
        .ham {
            display: inline;
            align-self: center;
            border: none;
            cursor: pointer;
            background-color: transparent;
            img {
                height: 30px;
                width: 30px;
            }
        }
        .ham:focus {
            outline: none;
        }
    }
    .ham-nav-menu {
        transform: translateX(102%);
        transition: all .2s ease-in-out;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 70%;
        height: 100vh;
        position: fixed;
        background-color: black;
        right: 0;
        top: 0;
        z-index: 3;
        .ham {
            position: absolute;
            right: 10%;
            top: 20px;
            border: none;
            cursor: pointer;
            background-color: transparent;
            img {
                width: 30px;
                height: 30px;
            }
        }
        .ham:focus {
            outline: none;
        }
        ul {
            list-style: none;
            margin-top: 120px;
            li {
                margin: 24px 0;
                a {
                    text-decoration: none;
                    text-align: center;
                    color: #FD0001;
                    font-size: 18px;
                }
            }
        }
        .user {
            position: absolute;
            bottom: 82px;
            display: flex;
            align-items: center;
            align-self: center;
            justify-content: space-around;
            width: 100%;
            &__info {
                display: flex;
                align-items: center;
                .avatar {
                    height: 50px;
                    width: 50px;
                    overflow: hidden;
                    border-radius: 50%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .name {
                    margin-left: 14px;
                    color: #FD0001;
                }
            }
            p {
                color: #FD0001;
            }
        }
    }
    .ham-menu-nav-active {
        transform: translateX(0);
    }
    .hero {
        .title,
        .des,
        .watch-btn {
            position: relative;
            left: 10%;
            top: 30%;
            bottom: 70%;
            z-index: 1;
            color: white;
        }
        .title {
            width: 85%;
        }
        .des {
            width: 300px;
        }
    }
    .hero-videos {
        height: 120px;
        .vid-card-container {
            width: 85%;
            .vid-cards {
                .vid-card {
                    .thumbnail {
                        width: 249px;
                        height: 140px;
                    }
                }
            }
        }
    }
    .carousel-container {
        width: auto;
        .carousel {
            margin: 20px 0;
        }
    }
    .card {
        width: 154px;
        height: 293px;
        .img-container {
            width: 100%;
            height: 231px;
            margin-bottom: 12px;
        }
        .title {
            margin-bottom: 0px;
        }
        .rating {
            bottom: 74px;
        }
    }
    .search-container {
        width: auto;
        .search-results {
            gap: 4px 0;
        }
    }

    //Movie Details
    .md-hero {
        &__img {
            height: 40vh;
        }
        &__info {
            width: 85%;
            bottom: -146px;
            &__poster {
                width: 154px;
                height: 231px;
            }
            &__overview {
                height: calc(231px / 1.7);
                margin-left: 14px;
                &__title {
                    font-size: 24px;
                }
                &__tagline {
                    display: none;
                }
                &__detail,
                &__rating {
                    p {
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .summary {
        width: 85%;
        margin: 170px auto auto auto;
    }
    .md-details {
        flex-direction: column;
        width: 85%;
        .videos {
            .md-vid {
                width: auto;
                .vid-card {
                    margin: auto;
                    .thumbnail {
                        width: 280px;
                        height: 158px;
                    }
                }
            }
        }
        .casts {
            margin-top: 24px;
            width: auto;
            .md-casts {
                .md-cast {
                    margin: auto;
                }
            }
        }
    }

    footer {
        width: 85%;
        grid-template-columns: 1fr 1fr;
        .logo,
        .social {
            grid-row: 2;
        }
        .text {
            grid-column: 1/3;
            margin-bottom: 14px;
        }
    }
}